.error {
    color: #fc8181 !important;
    font-size: 0.75rem !important;
    text-align: left !important;
    margin-top: 0.25rem !important;
}

input.input-error,
select.input-error {
    border: 1px solid #fc8181 !important;
}

.input-error {
    border: 1px solid #fc8181 !important;
}

button:disabled {
    opacity: 0.7 !important;
}