.forgotpassword {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.forgotpassword>div {
    max-width: 450px;
    margin: auto;
}

.forgotpassword>div>img {
    display: block;
    margin: auto;
}

.forgotpassword h2 {
    color: #191D23;
    font-size: 1.7rem;
    margin: 2rem auto;
    max-width: max-content;
}

.forgotpassword p {
    color: #666666;
    font-size: 1.25rem;
    text-align: center;
    line-height: 2rem;
}

.forgotpassword label {
    color: #191D23;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0 .7rem 0;
    display: inline-block;
}

.forgotpassword button {
    margin: 2rem 0;
}

.forgotpassword a {
    text-align: center;
    color: #878787;
    font-size: 1rem;
    font-weight: 500;
    display: block;
}