.login {
    padding: 4rem 1rem;
    max-width: 450px;
    margin: auto;
}

.login h2 {
    color: #191D23;
    font-size: 1.7rem;
    margin: 1.5rem auto .5rem auto;
    max-width: max-content;
}

.login a {
    color: #299D91;
    font-size: .9rem;
    font-weight: 500;
}

.login>a {
    display: block;
    margin: auto;
    max-width: fit-content;
    font-size: 1rem;
    margin-top: 2rem;
}

.login>img {
    display: block;
    margin: auto;
}

.login form {
    margin: 3rem 0 2rem 0;
}

.login label {
    color: #191D23;
    font-size: 1rem;
    font-weight: 500;
}

.login label[for='email'] {
    margin-bottom: .7rem;
    display: inline-block;
}

.login label[for='checked'] {
    display: flex;
    gap: 5px;
    color: #191D23;
    margin: 1.5rem 0 1rem 0;
}

.login label[for='checked'] input {
    width: unset;
    border: none;
    padding: 0;
    cursor: pointer;
}

.login label[for='checked'] input:focus {
    outline: none;
}

.password {
    position: relative;
}

.password input {
    padding-right: 2.8rem;
}

.password span {
    position: absolute;
    right: 1rem;
    top: .7rem;
}

.password i {
    color: #999DA3;
}

.password_label {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 .7rem 0;
}

.login p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    gap: 1rem;
    max-width: 90%;
}

.login p small {
    color: #999DA3;
    font-size: .9rem;
}

.login p span {
    background-color: #c4c5c5;
    height: 1px;
    display: inline-block;
    flex-grow: 1;
}