.overview {
    padding: 1rem 1rem 3rem 1rem;
}

.overview h3 {
    color: #878787;
    font-size: 1.4rem;
    font-weight: 400;
}

.overview_revenues {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.overview_revenues>section {
    flex-basis: 320px;
    flex-grow: 1;
    max-width: 400px;
    margin: auto;
}

.overview .transactions {
    margin-top: 1.5rem;
}