.overview {
    padding: 1rem;
}

.overview h3 {
    color: #878787;
    font-size: 1.5rem;
    font-weight: 400;
}

.overview_revenues {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}