nav {
    background: #191919;
    position: relative;
}

nav>div {
    position: fixed;
    max-width: 230px;
    background: inherit;
    min-height: 100%;
    width: 100%;
    padding: 2rem 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: block;
    width: 100%;
}

nav ul li a {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}