.total_balance>div,
.overview__goals>div,
.overview__bills {
    background: #FFFFFF;
    box-shadow: 0px 20px 25px rgba(76, 103, 100, 0.1);
    border-radius: 8px;
    padding: 1rem;
    margin-top: .7rem;
    min-height: 220px;
}

.total_balance h4,
.overview__goals h4 {
    color: #191919;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    gap: 8px;
    align-items: center;
}

.total_balance .balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: .7rem;
}

.total_balance .balance p {
    color: #525256;
    font-size: .95rem;
    font-weight: 600;
}

.total_balance .account_type {
    background: #299D91;
    border-radius: 4px;
    padding: 1rem;
    margin: .9rem 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.total_balance .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_balance .navigation>button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
    font-weight: 500;
}

.total_balance .navigation>div {
    display: flex;
    gap: 4px;
}

.total_balance .navigation>div button {
    border-radius: 50%;
    border: none;
    height: 8px;
    width: 8px;
    background-color: #D1D1D1;
}

.total_balance .navigation>div button:nth-child(1) {
    background-color: #299D91;
    transform: scale(1.05);
}


/* goals */

.overview__goals .target {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.goals_overview {
    margin: .9rem 0 0 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.goals_overview>.graph div {
    display: flex;
    justify-content: space-between;
}

.goals_overview>.graph div p {
    color: #D1D1D1;
    font-size: .8rem;
    font-weight: 600;
}

.goals_overview>.graph div p:nth-child(2) {
    color: #191919;
    font-size: 1rem;
    font-weight: 700;
}

.goals_overview .graph>img {
    width: 100%;
}

.goals_overview .graph>p {
    color: #191919;
    font-size: .8rem;
    font-weight: 600;
    margin-top: .55rem;
    text-align: center;
}

/* bills */

.overview__bills__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview__bills__heading button {
    border: none;
    background: transparent;
    font-size: .85rem;
    font-weight: 500;
    color: #878787;
    display: flex;
    align-items: center;
    gap: 5px;
}

.overview__bills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.overview__bills .divider {
    background: #F3F3F3;
    height: 2px;
}

.overview__bills>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.overview__bills>div>button {
    display: inline-block;
    margin-left: auto;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    color: #525256;
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem .7rem;
}