@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F4F5F7;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.app {
  display: grid;
  grid-template-columns: 250px auto;
}

.auth {
  grid-template-columns: 1fr !important;
}

main {
  overflow-x: hidden;
}

.error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  padding: 1rem;
}

.error_page h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #299d91;
}

.error_page p a {
  font-size: 1.1rem;
  color: #2d2d2d;
  line-height: 2.2;
}

.error_page p a {
  font-size: 1.2rem;
  color: #299d91;
  font-weight: 600;
}

@media(max-width: 720px) {
  .app {
    grid-template-columns: 1fr;
  }

  main {
    margin-bottom: 5rem;
  }
}

:root {
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}


*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 1px solid var(--scroll-bar-bg-color);
}